body{
    margin: 0;
    font-family: roboto, monospace;
}

.signup-button{
    width: 120px;
    height: 32px;

    border-radius: 8px;
    color: #F9FAF8;
    background-color: #3882F6;

    font-size: 20px;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
.header-container{
    display: flex;
    flex-direction: column;

    font-size: 24px;

    padding: 0px 120px;
    background-color: #1F2937;
    border: solid black;
}

.header-container, a{
    color: #F9FAF8;
}

.header-top{
    display: flex;
    justify-content: space-between;
}

.header-right-t{
    display: flex;
    gap: 20px;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
}

.header-left-b{
    display: flex;
    flex-direction: column;
    flex: 1 0 500px;
}

.header-right-b img{
    height: 380px;
    width: 700px;
}

/* info */
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.box-container{
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: space-evenly;
}

.rounder-box-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.rounded-box{
    border-radius: 25px;
    border: solid;
    height: 120px;
    width: 120px;
}


/* footer */
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #F9FAF8;
    font-size: 18px;

    background-color: #1F2937;
    flex: 0 0 80px;
}

a{
    text-decoration: none;
    font-size: 18px;
    padding: 24px 0px 0px 0px;
}